---
- name: Initialize Kubernetes master
  hosts: masters
  become: yes
  tasks:
    - name: Initialize Kubernetes cluster
      command: >
        kubeadm init
        --pod-network-cidr={{ pod_network_cidr }}
        --service-cidr={{ service_cidr }}
        --apiserver-advertise-address={{ ansible_host }}
      register: kubeadm_init
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Create .kube directory for root
      file:
        path: /root/.kube
        state: directory
        mode: 0755

    - name: Copy admin.conf to root kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /root/.kube/config
        remote_src: yes
        mode: 0600

    - name: Create .kube directory for vagrant user
      file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant
        mode: 0755

    - name: Copy admin.conf to vagrant kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        remote_src: yes
        owner: vagrant
        group: vagrant
        mode: 0600

    - name: Install Flannel network plugin
      become_user: vagrant
      command: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
      args:
        creates: /tmp/flannel-installed

    - name: Mark Flannel as installed
      file:
        path: /tmp/flannel-installed
        state: touch

    - name: Get join command
      command: kubeadm token create --print-join-command
      register: join_command

    - name: Save join command
      set_fact:
        k8s_join_command: "{{ join_command.stdout }}"

    - name: Save join command to file
      local_action:
        module: copy
        content: "{{ k8s_join_command }}"
        dest: "/tmp/k8s-join-command.sh"
