---
# Upgrade Kubernetes cluster
- name: Upgrade Kubernetes master
  hosts: masters
  gather_facts: yes
  become: yes
  serial: 1

  tasks:
    - name: Upgrade kubeadm
      apt:
        name: kubeadm={{ kubernetes_version }}
        state: present
        allow_downgrade: yes

    - name: Drain master node
      command: kubectl drain {{ inventory_hostname }} --ignore-daemonsets --delete-emptydir-data
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Upgrade master node
      command: kubeadm upgrade apply {{ kubernetes_version }} -y
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Upgrade kubelet and kubectl
      apt:
        name:
          - kubelet={{ kubernetes_version }}
          - kubectl={{ kubernetes_version }}
        state: present
        allow_downgrade: yes

    - name: Restart kubelet
      systemd:
        name: kubelet
        state: restarted
        daemon_reload: yes

    - name: Uncordon master node
      command: kubectl uncordon {{ inventory_hostname }}
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

- name: Upgrade Kubernetes workers
  hosts: workers
  gather_facts: yes
  become: yes
  serial: 1

  tasks:
    - name: Drain worker node
      command: kubectl drain {{ inventory_hostname }} --ignore-daemonsets --delete-emptydir-data
      delegate_to: "{{ groups['masters'][0] }}"
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Upgrade kubeadm
      apt:
        name: kubeadm={{ kubernetes_version }}
        state: present
        allow_downgrade: yes

    - name: Upgrade worker node
      command: kubeadm upgrade node

    - name: Upgrade kubelet and kubectl
      apt:
        name:
          - kubelet={{ kubernetes_version }}
          - kubectl={{ kubernetes_version }}
        state: present
        allow_downgrade: yes

    - name: Restart kubelet
      systemd:
        name: kubelet
        state: restarted
        daemon_reload: yes

    - name: Uncordon worker node
      command: kubectl uncordon {{ inventory_hostname }}
      delegate_to: "{{ groups['masters'][0] }}"
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
